// Colors
$primary:#236769;
$white: #FFFFFF;
$secondaryStrong: #323E40;
$secondary: #F2F2F2;
$black: #000000;
$background: #1E2322;
$red: #EF4444;

// Fonts
$font-family: 'Kumbh Sans', sans-serif;
$font-xs: 6px;
$font-s: 12px;
$font-sm: 16px;
$font-m: 18px;
$font-l: 24px;
$font-xl: 36px;
$font-xxl: 48px;


// Spacers

$spacer-xs: 6px;
$spacer-s: 12px;
$spacer-m: 24px;
$spacer-l: 48px;


// Breakpoints


$breakPointPhone: 540px;
$breakPointTablet: 769px;
$breakPointPC: 1024px;