@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700');

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: $spacer-m;
  display: flex;
  justify-content: center;
  background-color: $primary;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.landingImage {
  z-index: 0;
}