@use "../../src/app/styles/variables" as *;

.dropdownContainer {
    font-size: $font-s;
    padding: $spacer-s 0;
    font-family: $font-family, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    label {
        margin-right: $spacer-xs;
        font-weight: bold;
        margin-bottom: $spacer-xs;
    }

    select {
        font-size: $font-s;
        height: $spacer-s + $spacer-m;
        border: 1px solid $secondary;
        border-radius: $spacer-s;
        background-color: transparent;
        font-family: $font-family, sans-serif;
        width: 100%;
        font-weight: 300;
        padding: 0 $spacer-s;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg width='16' height='16' viewBox='0 0 16 16' fill='%23E0E0E0' xmlns='http://www.w3.org/2000/svg'><path d='M12.1338 5.94433C12.3919 5.77382 12.7434 5.80202 12.9707 6.02929C13.1979 6.25656 13.2261 6.60807 13.0556 6.8662L12.9707 6.9707L8.47067 11.4707C8.21097 11.7304 7.78896 11.7304 7.52926 11.4707L3.02926 6.9707L2.9443 6.8662C2.77379 6.60807 2.80199 6.25656 3.02926 6.02929C3.25653 5.80202 3.60804 5.77382 3.86617 5.94433L3.97067 6.02929L7.99996 10.0586L12.0293 6.02929L12.1338 5.94433Z'/></svg>");
        background-repeat: no-repeat;
        background-position: right $spacer-s center;
        background-size: 1.2em;

        @media (min-width: $breakPointPhone) {
            width: 50%;
        }
    }
}