@use "../../src/app/styles/variables" as *;


.container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    
    p {
      display: flex;
      padding: $spacer-s 0;
      justify-content: left;
      align-items: center;
      font-size: $font-sm;
      font-weight: 400;
      text-align: left;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);

      @media (min-width: $breakPointPC) {
        padding: $spacer-s 0;
      }
    }

    h3 {
      font-size: $font-sm;
      font-weight: 400;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
      a {
        text-decoration: underline;
      }

      span { 
        font-weight: bold;
      }
    }

    .parking {
      padding: $spacer-m 0 0 0 ;
    }

    .parkingMap {
      width: 100%;
      display: flex;
      padding: $spacer-l 0;
      justify-content: center;
      align-items: center;
      
      img {
        max-width: 70%;
      }
    }
}